<!-- Header Jumbotron -->
<div class="jumbotron mb-0">
    <h1 class="text-center display-5">The Great</h1>
    <h1 class="text-center display-2" id="color-display">RGB</h1>
    <h1 class="text-center display-5">Color Game</h1>
</div>

<!-- Info Stripe -->
<div id="stripe" class="d-flex flex-row justify-content-center">
    <div class="container d-flex">
        <button id="resetButton" class="">New Colors</button>
        <span id="display" class="ml-auto mr-auto"></span>
        <button id="easyButton" class="">Easy</button>
        <button id="hardButton" class="active">Hard</button>
    </div>
</div>

<!-- Tiles -->
<div class="container">
    <div class="row">
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
    </div>
    <div class="row">
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile"></div>
    </div>
</div>